body {
   display: flex;
   flex-direction: column;
   row-gap: 20px;
}

p {
   margin-top: 40px;
   margin-left: 50px;
}

#categories {
   min-width: 440px;
   padding: 24px;
   align-self: center;
}

.item {
   background-color: #f6f6fe;
   border-radius: 8px;
   padding: 16px;
}

.item:not(:last-child) {
   margin-bottom: 24px;
}

.item li {
   border: 1px solid #808080;
   border-radius: 4px;
   margin-bottom: 8px;
   padding: 8px 16px;

}

.item h2 {
   font-weight: 600;
   line-height: 1.33;
   letter-spacing: 0.04em;


   margin-bottom: 16px;
}